source [find interface/stlink.cfg]

transport select "hla_swd"
set WORKAREASIZE 0x8000

set CHIPNAME STM32F091RCTx
set BOARDNAME AutonAirBoard
set CHIPNAME_CPU0_ACTIVATED 1
set ENABLE_LOW_POWER 0
set STOP_WATCHDOG 1

# 1. Load the default ST target configuration FIRST
source [find target/stm32f0x.cfg]

# 2. OVERRIDE the defaults for bare-metal stability
# Throttle the speed to handle the capacitance/noise of the motor control PCB
adapter speed 400

# Force "Hot Plug" style software reset
reset_config none